.container{
    padding: 2rem 12rem;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    
  }
  .content{
    padding: 1rem 0rem;
    text-align: justify;
  }